[Unit]
Description=Journal wrapper to AWS
Requires=systemd-journal-gatewayd.service

[Service]
Restart=on-failure
ExecStart=/opt/data/fleet/journald-wrapper/start.sh


[X-Fleet]
Global=true
