[Unit]
Description=vblob service

[Service]
TimeoutStartSec=0
Environment='VBLOB_NAME=vblob-service' 'S3_SERVICE=s3' 'BUCKET_NAME=nuxeobucket'
ExecStart=/bin/sh /opt/data/fleet/vblob-service/start.sh
ExecStartPost=/bin/sh /opt/data/fleet/vblob-service/start-post.sh
ExecStop=/bin/sh /opt/data/fleet/vblob-service/stop.sh
Restart=always
RestartSec=10s
