[Unit]
Description=Nuxeo Docker Registry Startup
After=etcd-local.service

[Service]
ExecStart=/opt/data/systemd/docker-registry/start.sh
RemainAfterExit=yes

Restart=always
# Set a longish timeout in case this machine isn't behaving
# nicely and bothering the rest of the cluster
RestartSec=10s

[Install]
WantedBy=local.target
