[Unit]
Description=ElasticSearch discovery service
BindsTo=elasticsearch@%i.service

[Service]
EnvironmentFile=/etc/environment
Environment='TRANSPORT_PORT=9300' 'HTTP_PORT=9200'

ExecStart=/bin/bash -c '\
  while true; do \
    curl -m 2 -f ${COREOS_PRIVATE_IPV4}:9200; \
    if [ "$?" = "0" ]; then \
      etcdctl set /services/elasticsearch/%i/transport \'{"host":"${COREOS_PRIVATE_IPV4}","port":${TRANSPORT_PORT}}\' --ttl 60; \
      etcdctl set /services/elasticsearch/%i/location \'{"host":"${COREOS_PRIVATE_IPV4}","port":${HTTP_PORT}}\' --ttl 60; \
    else \
      etcdctl rm --recursive /services/elasticsearch/%i; \
    fi; \
    sleep 30; \
  done'

ExecStop=/usr/bin/etcdctl rm --recursive /services/elasticsearch/%i

[X-Fleet]
X-ConditionMachineOf=elasticsearch@%i.service
