[Unit]
Description=ElasticSearch service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=180
EnvironmentFile=/etc/environment
Environment='ES_VERSION=1.4.2' 'ES_HEAP_SIZE=2g'

ExecStartPre=/usr/bin/mkdir -p /data/elasticsearch
ExecStartPre=/usr/bin/docker pull quay.io/nuxeoio/elasticsearch:${ES_VERSION}

ExecStart=/bin/bash -c '\
  curl -f ${COREOS_PRIVATE_IPV4}:4001/v2/keys/services/elasticsearch; \
  if [ "$?" = "0" ]; then \
      UNICAST_HOSTS=$(etcdctl ls --recursive /services/elasticsearch \
             | grep transport  \
             | while read i; do etcdctl get $i \
             | sed -e \'s/{"host":"\([^"]*\)","port":\([^"]*\)}/\1\:\2/\'; done \
             | paste -s -d","); \
  else \
      UNICAST_HOSTS=""; \
  fi; \
  /usr/bin/docker run \
    --name %p \
    -e ES_HEAP_SIZE=${ES_HEAP_SIZE} \
    --publish 9200:9200 \
    --publish 9300:9300 \
    --volume /data/elasticsearch:/data \
    quay.io/nuxeoio/elasticsearch:${ES_VERSION} \
    /elasticsearch/bin/elasticsearch \
    --node.name=%p-%i \
    --cluster.name=nuxeo \
    --network.publish_host=${COREOS_PRIVATE_IPV4} \
    --discovery.zen.ping.multicast.enabled=false \
    --discovery.zen.ping.unicast.hosts=$UNICAST_HOSTS'

ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker rm %p

[X-Fleet]
X-Conflicts=elasticsearch@*.service
