[Unit]
Description=etcdump

[Service]
TimeoutStartSec=0
ExecStartPre=/bin/sh /opt/data/fleet/etcdump/start-pre.sh
ExecStart=/bin/sh /opt/data/fleet/etcdump/start.sh
Restart=always
RestartSec=86400s
