[Unit]
Description=Nuxeo IO Container - nxio_000001 - sample

[Service]
Environment='ENV_TECH_ID=nxio_000001'
ExecStartPre=/opt/data/fleet/io-container/start-pre.sh
ExecStart=/opt/data/fleet/io-container/start.sh
ExecStartPost=/opt/data/fleet/io-container/start-post.sh
ExecStop=/opt/data/fleet/io-container/stop.sh
ExecStopPost=/opt/data/fleet/io-container/stop-post.sh
