[Unit]
Description=Manager
Requires=build-io-base.service postgres-service.service
After=build-io-base.service postgres-service.service

[Service]
TimeoutStartSec=0
RemainAfterExit=yes
Environment='MANAGER_NAME=manager' 'MANAGER_DOMAIN=manager.trial.nuxeo.io'
ExecStartPre=/bin/sh /opt/data/fleet/manager/start-pre.sh
ExecStart=/bin/sh /opt/data/fleet/manager/start.sh
ExecStartPost=/bin/sh /opt/data/fleet/manager/start-post.sh
ExecStop=/opt/data/fleet/manager/stop.sh

[X-Fleet]
X-ConditionMachineOf=build-io-base.service
