[Unit]
Description=Environment cleaner - nxio_%i

[Service]
TimeoutStartSec=10m
Environment='FLEET_UNIT_NAME=cleaner@%i.service' 'SERVICE_ID=nxio_%i'
ExecStart=/opt/data/fleet/cleaner/start.sh postgres elasticsearch s3 etcd
ExecStop=/opt/data/fleet/cleaner/stop.sh
