[Unit]
Description=Cleaner nxio_000001 - sample

[Service]
Environment='FLEET_UNIT_NAME=cleaner.nxio_000001.service' 'SERVICE_ID=nxio_000001'
ExecStart=/opt/data/fleet/cleaner/start.sh SERVICE1 SERVICE2 [...]
ExecStop=/opt/data/fleet/cleaner/stop.sh
